.pagination {
  display: flex;
  gap: 2px;
  justify-content: center;
}

.pagination a {
  background: #8ac90c;
  border:solid black 2px;
  color: rgb(254, 252, 252);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.5s all;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #0e3adb;}
img{
  width: 300px; 
}